﻿@model FrontEndDev.ViewModels.OrdersViewModel
@(Html.Kendo().Grid<FrontEndDev.ViewModels.OrderViewModel>()
      .Name("grid")
      .ClientDetailTemplateId("template")
      .Columns(columns =>
      {
          columns.Bound(c => c.OrderID).Hidden();
          columns.ForeignKey(c => c.CustomerID, Model.Customers, "CustomerID", "CompanyName");
          columns.ForeignKey(c => c.EmployeeID, Model.Employees, "EmployeeID", "LastName");
          columns.ForeignKey(c => c.ShipVia, Model.Shippers, "ShipperID", "CompanyName");
          columns.Bound(c => c.OrderDate).Width(120);
          columns.Bound(c => c.RequiredDate).Width(120);
          columns.Bound(c => c.ShippedDate).Width(120);
          columns.Bound(c => c.Freight).Width(120);
          columns.Bound(c => c.ShipName).Width(120);
          columns.Bound(c => c.ShipAddress).Width(120);
          columns.Bound(c => c.ShipCity).Width(120);
          columns.Bound(c => c.ShipRegion).Width(120);
          columns.Bound(c => c.ShipPostalCode).Width(120);
          columns.Bound(c => c.ShipCountry).Width(120);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(240);
      })
      .Groupable()
      .Sortable()
      .ToolBar(toolbar =>
      {
          toolbar.Create();
      })
      .ColumnMenu()
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Navigatable()
      .Selectable(selectable =>
      {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .ServerOperation(true)
          .PageSize(5)
          .Model(model =>
            {
                model.Id(m => m.OrderID);
                model.Field(m => m.OrderID).Editable(false);
                model.Field(m => m.EmployeeID).DefaultValue(Model.Employees.FirstOrDefault().EmployeeID);
                model.Field(m => m.CustomerID).DefaultValue(Model.Customers.FirstOrDefault().CustomerID);
                model.Field(m => m.ShipVia).DefaultValue(Model.Shippers.FirstOrDefault().ShipperID);
            })
          .Events(events => events.Error("errorHandler"))
          .Read(read => read.Action("Order_Read", "Order"))
          .Create(create => create.Action("Order_Create", "Order"))
          .Update(update => update.Action("Order_Update", "Order"))
          .Destroy(destroy => destroy.Action("Order_Destroy", "Order"))
      )
      .Events(events => events.DataBound("dataBound"))
)


<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
        .Name("tabStrip_#=OrderID#")
        .SelectedIndex(0)
        .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
        .Items(items =>
        {
            items.Add().Text("Products")
            .Content(
                @<text>
                    @(Html.Kendo().Grid<FrontEndDev.ViewModels.OrderDetailViewModel>()
                        .Name("grid_#=OrderID#")
                        .Columns(columns =>
                        {
                            columns.ForeignKey(o => o.ProductID, Model.Products, "ProductID", "ProductName");
                            columns.Bound(o => o.UnitPrice).Format("{0:c}");
                            columns.Bound(o => o.Quantity);
                            columns.Bound(o => o.Discount).Format("{0:p}");
                            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(240);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(5)
                            .Model(model =>
                            {
                                model.Id(m => m.ProductID);
                                model.Field(m => m.OrderID).Editable(false);
                                model.Field(m => m.ProductID).DefaultValue(Model.Products.FirstOrDefault().ProductID);
                            })
                            .Events(events => events.Error("errorHandler"))
                            .Read(read => read.Action("Order_Details_Read", "Order", new { orderDetailOrderID = "#=OrderID#" }))
                            .Create(create => create.Action("Order_Details_Create", "Order", new { orderDetailOrderID = "#=OrderID#" }))
                            .Update(update => update.Action("Order_Details_Update", "Order", new { orderDetailOrderID = "#=OrderID#" }))
                            .Destroy(destroy => destroy.Action("Order_Details_Destroy", "Order", new { orderDetailOrderID = "#=OrderID#" }))
                        )
                        .Groupable()
                        .Sortable()
                        .ToolBar(toolbar =>
                        {
                            toolbar.Create();
                        })
                        .ColumnMenu()
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Pageable()
                        .Navigatable()
                        .Selectable(selectable =>
                        {
                            selectable.Mode(GridSelectionMode.Single);
                            selectable.Type(GridSelectionType.Row);
                        })
                        .Filterable()
                        .ToClientTemplate())
                </text>
            );
            items.Add().Text("Order Info")
                .Content(@<text>
                    <div class='order_details'>
                        <ul>
                            <li><label>Date: </label>#= kendo.toString(kendo.parseDate(ShippedDate), 'dd/MM/yyyy') #</li>
                            <li><label>Freight: </label>#= Freight #</li>
                            <li><label>Name: </label>#= ShipName #</li>
                            <li><label>Address: </label>#= ShipAddress #</li>
                            <li><label>City: </label>#= ShipCity #</li>
                            <li><label>Region: </label>#= ShipRegion #</li>
                            <li><label>Postal Code: </label>#= ShipPostalCode #</li>
                            <li><label>Country: </label>#= ShipCountry #</li>
                        </ul>
                    </div>
                </text>);
        })
        .ToClientTemplate())
</script>



<script type="text/javascript">
    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

</script>

<style>
    .k-detail-cell .k-tabstrip .k-content {
        padding: 0.2em;
    }

    .order-details ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }

        .order-details ul li {
            margin: 0;
            line-height: 1.7em;
        }

    .order-details label {
        display: inline-block;
        width: 90px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
    }
</style>